/*form display for other than admin*/
.form-item {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.form-item #edit-title-0-value {
  width: 50%;
  display: block;
  height: 2.5em;
}
.form-item .link-edit-summary {
  display: none;
}
.form-item-body-0-value .form-textarea-wrapper #edit-body-0-value {
  width: 50%;
  display: block;
  height: 2.5em;
}
.form-textarea-wrapper #edit-revision-log-0-value {
  width: 50%;
  display: block;
  height: 2.5em;
}
.form-type-vertical-tabs ul.vertical-tabs-list {
  width: 50%;
}
.field--name-field-it-extranet-pages {
  width: 50%;
  display: block;
}
.field--name-field-it-extranet-pages .paragraphs-dropbutton-wrapper .field-add-more-submit {
  padding: 7px;
}
.field--name-field-it-extranet-pages button.btn-success {
  padding: 7px;
  margin-top: 17px;
}
.field--name-field-it-extranet-pages button.btn-default {
  padding: 7px;
  margin-top: 17px;
  margin-left: 15px;
}
/*End of form*/

/* start global */
a:hover {
  color: #3780cb !important;
}
/* end global */
/*Starting the Header-Menu block*/
body {
  margin: 0px;
  font-family: "open_sanssemibold",Arial,sans-serif;
}
header.navbar.container,
div.main-container.container,
footer.footer.container {
  margin:0px;
  padding: 0px;
  max-width: initial;
  width: 100%;
}
.navbar-header {
  float: none;
  background-color: white;
  border-top: 2px solid #09357A;
}
.logo-bkgnd {
  padding-left: 40px;
}
.logo-bkgnd img {
  width: 5em;
}
a {
  color: #09357a;
  text-decoration: none !important;
}
.main-nav-menu .menu li a,
.account-menu-log .menu li a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: #252525;
}
.main-nav-menu .menu li a {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.main-nav-menu .menu li a.active {
  background-color: #ffffff;
  color: #09357a;
}
.main-nav-menu, .account-menu-log {
  /*height: 7.25em;*/
}

.search-block-form-header {
  margin-top: 6px;
  padding: 0;
}
body.path-my-samples .view-my-samples .form-item {
  margin:0;
}
.account-menu-log {
 padding-left: 0;
 padding-right: 40px;
}
#block-searchform-2 #search-block-form--2 #edit-keys--2 {
  height: 33px;
  border: 1px solid #217dbb;
  background-color: initial;
}
#block-searchform-2 #search-block-form--2 .button {
  background-color: #217dbb;
  height: 33px;
  border: none;
  padding-right: 12px;
  padding-left: 12px;
}
#block-searchform #search-block-form .button {
  /*background-color: #217dbb;*/
  height: 33px;
  border: none;
  padding-right: 12px;
  padding-left: 12px;
}
.account-menu-log nav#block-extranet-account-menu,
#block-userloginmenu {
  /*margin-top: 1.5em;*/
}
#block-userloginmenu ul.menu.nav {
  float: right;
  margin-top: 0.7em;
}
#block-searchform-2 {
  border-bottom: 1px solid #b3c1d6;
  padding: 10px;
}
#block-userloginmenu ul li a:hover {
  background-color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: initial;
}
#block-cypressmainnavigation>ul>li {
  float: left;
}
.region-navigation>.container>.row {
  background-color: #ecf0f1;
}
#subnavbar {
  margin-top: -0.6em
}
#subnavbar ul {
  clear: both;
  padding: 1em 0 0 0.5em;
  margin-bottom: 0;
  /*-webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;*/
  display: none;
}
#subnavbar ul li {
  list-style: none;
  margin: 0.4em 0;
}
#subnavbar ul li:first-child {
  margin-top: -0.1em;
}
#subnavbar ul li a {
  display: block;
  color: #464646;
}
/* End Header menu block. */
/* Start user account menu */
.navbar-default .account-menu-log .navbar-nav > .open > a {
  background-color: #ecf0f1;
  color: inherit;
}
.account-menu-log .menu.dropdown-menu {
  top: 80%;
}
#block-extranet-account-menu>ul>li {
  margin-top: 1em;
}
.account-menu-log .dropdown-menu li a:hover {
  background-color: #e8ebf1;
}
.navbar-right {
  margin: 0;
}
/* End user account menu */
/* Start - Table of documents. */
.table>thead>tr>th {
  background-color: #e8ebf1;
  border: 1px solid #eaeff2 !important;
  vertical-align: middle;
  text-align: left;
  padding: 14px;
}
.table>thead>tr>th.date-center {
  background-color: #e8ebf1;
  border: 1px solid #eaeff2 !important;
  vertical-align: middle;
  text-align: center;
  padding: 14px;
}
.table>tbody>tr>td {
  border-top: 0px;
  padding: 14px;
  vertical-align: middle;
}
.table>tbody>tr>td span.file-size {
  display: none;
}
.full-width {
  width: 100%;
}
.tablesort {
  margin-left: 0.5em;
}
/* End - Table of documents. */
/*Strting Welcome user Block*/
.region-sidebar-first {
  background-color: #e8ebf1;
}
.my-cypress-title {
  background-color: #09357a;
  border-bottom: 2px solid #2966a3;
  padding-top: 0.01em;
}
.my-cyp {
  color: white;
  padding-left: 15px;
}
.form-group {
  margin-bottom: 0px
}
.row.welcome-user-wrapper {
  margin: 0;
}
.welcome-user-wrapper {
  padding: 30px 0 15px 0px;
}
span.image-user {
  margin-left: 8%;
}
span.image-user img {
  background-color: white;
}
span.welcome-first-last-name {
  color: #09357a;
  margin-top: 4%;
}
.first-last-name {
  font-weight: bold;
}
/*End Welcome user block*/
/*Start nav bar primary*/
#block-mainnavigation .navbar-nav,
.extranet-pages-menu-block .navbar-nav,
.extranet-pages-menu-block .navbar-nav li,
#block-mainnavigation .navbar-nav li,
#block-distributionextranet .navbar-nav,
#block-distributionextranet .navbar-nav li {
  float:none;
}
#block-mainnavigation .navbar-nav li,
#block-distributionextranet .navbar-nav li {
  border-bottom: 1px solid #b3c1d6
}
#block-mainnavigation .navbar-nav li a,
#block-distributionextranet .navbar-nav li a {
  padding-left: 2.7em;
  font-size: 14px;
  background-color: initial;
}

#block-mainnavigation .navbar-nav li a:hover,
#block-distributionextranet .navbar-nav li a:hover {
  background-color: #ecf0f1;
}
.extranet-pages-menu-block .navbar-nav li a:hover {
  background-color: #ecf0f1;
}
nav#block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.active,
.extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.active,
nav#block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.active {
  background: #09357a;
  color: #ffffff;
}
nav#block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.active>a,
.extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.active>a,
nav#block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.active>a {
  background: #09357a;
  color: #ffffff;
}
nav#block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.active>ul,
nav#block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.active>ul {
  z-index: 0;
}
nav#block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.active a.is-active,
nav.extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.active a.is-active,
nav#block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.active a.is-active {
  color: #ffffff;
}
/*
nav#block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.active.open > a {
  background-color: #09357a;
  color: #ffffff;
}*/

/*edi-engagement*/
/*EDI-ENAGE image*/
body.page-node-type-cy-page p img.edi-img {
  width: 100%;
}
body.page-node-type-cy-page  table.edi-procedure thead tr th {
  background-color: #e8ebf1;
  border: 1px solid #eaeff2 !important;
  vertical-align: middle;
  padding: 8px;
}
body.page-node-type-cy-page table.edi-procedure {
  width: 53%;
}
/*edi-guidelines-specs*/
body.page-node-type-cy-page table.guide {
  width: 700px;
}
body.page-node-type-cy-page table.guide td.table-data-1 {
  width: 200px;
}
body.page-node-type-cy-page table.guide td.table-data-2 {
  width: 200px;
}
body.page-node-type-cy-page table.guide td.table-data-3 {
  width: 150px;
}
/*need-help*/
table.need-help{
  width: 60%;
}
body.page-node-type-cy-page table.need-help tr.tr-bcgd {
  background-color: #e8ebf1;
  border: 1px solid #eaeff2 !important;
  vertical-align: middle;
  text-align: center;
  padding: 8px;
}
body.page-node-type-cy-page table.need-help .need-td-3 {
  width: 26%;
}
/*product training archieve-2014*/
body.page-node-type-cy-pagetable.archive{
  width: 100%;
  font-size: 12px;
}
body.page-node-type-cy-page table.archive tbody tr.bg-top {
  background-color: #e8ebf1;
  border: 1px solid #eaeff2 !important;
  vertical-align: middle;
  text-align: center;
  padding: 8px;
}
body.page-node-type-cy-page table.archive  thead tr th,table.archive td {
  padding-left: 10px;
}
body.page-node-type-cy-page table.archive  thead tr th.date p {
  text-align: center;
}
body.page-node-type-cy-page table.archive  thead tr th .col-1 {
  float: left;
  font-weight: bold;
}
body.page-node-type-cy-page table.archive  thead tr th .col-2 {
  float: right;
  padding-right: 5px;
  font-weight: bold;
}
/*Business marcom-contacts table*/
body.page-node-type-cy-page table.marcom-contacts td.tel-no{
  /*width: 14%;*/
}


#block-mainnavigation .caret, #block-distributionextranet .caret, .extranet-pages-menu-block .caret {
  position: absolute;
  left: 87%;
  top: 47%;
}


#block-workweekandstock row {
  margin: 0;
}
#block-workweekandstock .col-sm-12 {
  background-color: #09357A;
  color: white;
  border-bottom: 1px solid white;
}
#ww_and_cy {
  text-align: center;
  padding: 0.5% 0;
}
#ww_and_cy #ww, #ww_and_cy #date, #ww_and_cy #cy_stock {
  border-right: 1px solid white;
  margin-right: 0.6%;
  padding-right: 1%;
  font-size: 14px;
}
#ww_and_cy #link_to_cypress a {
  color: white;
  font-size: 14px;
}
#ww_and_cy #cy_stock .flag-red {
  color: red;
}
#ww_and_cy #cy_stock .flag-green {
  color: green;
}
@media (max-width: 767px) {
  #ww_and_cy #date {
    white-space: nowrap;
  }
  #ww_and_cy>span {
    display: block;
  }
  #ww_and_cy>span, #cy_stock {
    border: 0 !important;
  }
}
/*End nav bar primary*/
/* Start banner */
.view-banner-image-block img {
  width: 100%;
  max-height: 265px;
}
/* End banner */
/* Start breadcrumb */
.breadcrumb {
  display: none;
}
/* End breadcrumb */
/* Start content */
.main-container {
  width: 100%;
}
.main-container>.row {
  margin: 0;
}
.main-container>.row>.col-sm-12 {
  padding: 0;
}
.main-container>.row>aside {
  margin-top: 1em;
}
/* End content */
/* Start content menu home icon */
#content-main .views-row img.img-responsive {
  margin: 0 auto;
}
/* End content menu home icon */

/* Title-heading styles*/
.main-container.container .row section#content-main .region.region-content h1.page-header,
body.path-file-search #content-main h2,
body.path-search .main-container.container .row section#content-main .region.region-content > h2 {
  background-color: #ecf0f1;
  text-align: center;
  font-size: 30px;
  padding: 9px 0;
  margin-top: 22px;
  font-family: "open_sanssemibold",Arial,sans-serif;
}
body.path-search .main-container.container .row section#content-main .region.region-content > h2 {
  text-align: left;
  padding-left: 1em;
  display: none;
}
body.path-frontpage h1.page-header {
  visibility: hidden;
}
/*start edi-first page*/
.content .edi-h2{
    font-size: 23px;
    font-weight: bold;
}
/*end edi-first page*/
/* Title-heading styles*/

/* Start download all docs */
.download-all-files-wrapper {
  margin-bottom: 6px;
}
.download-all-files {
  color: white;
  background-color: #E84A00;
  display: inline-block;
  padding: 0.5% 2%;
  font-weight: bold;
  position: relative;
}
.download-all-files>div {
  display: inline-block;
}
.download-all-files .download-all-icon, .static-download-all-files-wrapper .download-all-icon {
  width: 28px;
  height: 29px;
  background: url('../images/icon-download.png');
}
.static-download-all-files-wrapper {
  padding: 0.5em;
  background-color: #E84A00;
  display: none;
}
.static-download-all-files-wrapper.show {
  position: fixed;
  top: 6.3em;
  right: 0;
  z-index: 100;
}
.download-all-files .download-label {
  font-size: 0.7em;
}
.download-all-files .title {
  font-size: 0.95em;
}
/* End download all docs */
/*Start footer region*/
footer.footer.container {
  background-color: #09357A;
  color: white;
  padding: 1.5em 0 0.7em 0;
  margin-top: 2em;
}
.region.region-footer nav {
  display: inline-block;
}
.region.region-footer ul.menu.nav li {
  display: inline-block;
}
.region.region-footer ul.menu.nav li a {
  color: white;
  padding: 0 6px 0 0;
  border-right: 1px solid white;
}
.region.region-footer ul.menu.nav li a:hover {
  background-color: initial;
}
span#footer-copyrights {
  padding-left: 3px;
}
/*End footer region*/

/*STCON content type*/
body.page-node-type-stcon h1.page-header {
  display: none;
}
body.page-node-type-stcon div.content,
body.page-node-type-stcon div.field {
  margin-top: 15px;
}
body.page-node-type-stcon div.field .field--label {
  font-size: 23px;
}
body.page-node-type-stcon .ui-tabs-panel > h4 {
  font-weight: bold;
}
/*End STCON*/

/* Start extranet sidebar menu */
.extranet-pages-menu-block li {
  border-bottom: 1px solid #b3c1d6;
}

.extranet-pages-menu-block li a {
  padding-left: 2.7em;
  font-size: 14px;
  display: block;
  background-color: #e8ebf1;
}

@media (min-width: 768px) {
  .extranet-pages-menu-block li a {
  padding-top: 19.5px;
  padding-bottom: 19.5px;
  }
}
/* End extranet sidebar menu */
/* Start subpage menu */
.field--name-field-sub-pages>.field--label {
  font-weight: bold;
  margin-top: 30px;
}
.field--name-field-sub-pages>.field__items>.field--item {
  background-color: #e8ebf1;
  margin-top: 0.5em;
  padding: 0.1em 0.5em;
}
/* End subpage menu */
/* Start Cypress admin dashboard */
#block-admindashboard {
  background-color: #f5f5f2;
}
#block-admindashboard .open > .dropdown-menu, #block-mainnavigation .open > .dropdown-menu,
.extranet-pages-menu-block .open > .dropdown-menu,
#block-distributionextranet .open > .dropdown-menu {
  display: block;
  position: relative;
  float: none;
  padding-left: 40px;
  border: none;
  box-shadow: none;
  background-color: #f5f5f2;
}
#block-mainnavigation .open > .dropdown-menu,
.extranet-pages-menu-block .open > .dropdown-menu,
#block-distributionextranet .open > .dropdown-menu {
  padding-left: 0;
  background-color: #e8ebf1;
  border-radius: 0;
  z-index: 0;
}
#block-mainnavigation .open > .dropdown-menu > li,.extranet-pages-menu-block .open > .dropdown-menu > li, #block-distributionextranet .open > .dropdown-menu > li {
  border: none;
}
#block-mainnavigation .open > .dropdown-menu > li > a,
.extranet-pages-menu-block .open > .dropdown-menu > li > a,
#block-distributionextranet .open > .dropdown-menu > li > a {
  white-space: normal;
  padding-top: 10px;
  padding-bottom: 9.5px;
  padding-left: 4em;
  color: #09357a;
}
#block-mainnavigation .open > .dropdown-menu > li > a.is-active,
.extranet-pages-menu-block .open > .dropdown-menu > li > a.is-active,
#block-distributionextranet .open > .dropdown-menu > li > a.is-active {
  background-color: #09357a !important;
  color: white;
}
#block-admindashboard .open > .dropdown-menu > li > a:hover {
  background-color: #ecf0f1;
}
/* End Cypress admin dashboard */

/* Start of IT Extract Dashboard Add IT Exyranet Button */
body.path-it-extranet-dashboard .view-header {
  margin-bottom: 25px;
}
body.path-it-extranet-dashboard .view-header .add-it-extranet {
  background-color: #09357a;
  border-bottom: 1px solid #2966a3;
  padding: 8px 12px 8px 12px;
  width: 150px;
  color: white;
}
/* End IT Extract Dashboard Add IT Exyranet Button */
/* Start Tag cloud */
ul.default_tag_clouds {
  text-align: justify;
  padding: 1em;
}
ul.default_tag_clouds li a.selected,
ul.default_tag_clouds li a.selected:hover {
  background-color: #217dbb;
  color: white !important;
}
/* End Tag cloud */

/* Start homepage menu icons */
.path-frontpage h1.page-header {
  padding-bottom: 20px;
  margin: 0;
  border-bottom: 0;
}
#block-extranet-account-menu .glyphicon {
  display: none;
}
/* End of homepage icon
/*My Samples page*/
body.path-my-samples .view-content .table-responsive {
  margin-top: 1em;
}
/*End Mysamples*/

/* Start file search */
body.path-file-search .region-content h1.page-header {
  display: none;
}
body.path-file-search .region-content div.view-filters.form-group {
  display: none;
  margin-bottom: 2%;
  padding: 0 1em;
}
body.path-file-search .region-content div.view-filters.form-group div.form-item {
  width: 30%;
  margin: 0 0.5%;
}
body.path-file-search .region-content div.view-filters.form-group .form-inline {
  text-align: left;
}
body.path-file-search .region-content div.view-filters.form-group .form-inline .form-control {
  display: block;
  width: 100%;
  height: 2.5em;
}
body.path-file-search .region-content div.view-filters.form-group div#edit-actions {
  vertical-align: bottom;
  margin-left: 0.5%;
}
body.path-file-search .region-content div.view-filters.form-group button#edit-submit-file-search {
  padding: 0.45em 3em;
  margin: 0;
}
body.path-file-search .region-content div.view-filters.form-group .input-group-addon>span.glyphicon-refresh {
  display: block;
}
.default_tag_clouds {
  margin-bottom: 0;
}
body.path-file-search .region-content .view-header button.btn-info {
  padding: 0 1em;
  margin: 0 1.2em 1em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body.path-file-search .region-content div.view-filters.form-group div.form-item {
  width: 45%;
  }
}
@media only screen and (max-width: 425px){
  body.path-file-search .region-content div.view-filters.form-group div.form-item {
    width: 100%;
  }
  body.path-file-search .region-content div.view-filters.form-group button#edit-submit-file-search {
    margin: 1em 0;
  }
}
/* End File search */


/* Start of Responsive for Mobile*/
@media only screen and (min-width: 320px) and (max-width: 1023px) {
  .navbar-toggle {
    display: block;
    margin: 0;
    padding: 0;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
    position: absolute;
    width: 100%;
    z-index: 99;
    padding: 0;
    margin: 0;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #09357a;
    height: 4px;
    width: 100%;
    margin: 0.4em 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    border-radius: 3px;
  }
  .navbar-default .navbar-toggle.open .icon-bar:nth-child(2) {
    position: absolute;
    top: 14px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .navbar-default .navbar-toggle.open .icon-bar:nth-child(3) {
    position: absolute;
    opacity: 0;
    top: 14px;
  }
  .navbar-default .navbar-toggle.open .icon-bar:nth-child(4) {
    position: absolute;
    top: 14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  /*Start of top-menu styles*/
  #block-cypressmainnavigation-2 ul li a {
    border-bottom: 1px solid #09357a;
  }
  header#navbar.navbar.navbar-default.container .navbar-collapse.collapse.in .region.region-navigation-collapsible .visible-xs
  nav#block-cypressmainnavigation-2 ul.menu.nav {
    background-color: #ffffff;
    padding: 1em 0 1em 18%;
  }
  header#navbar.navbar.navbar-default.container .navbar-collapse.collapse.in .region.region-navigation-collapsible .visible-xs
  nav#block-cypressmainnavigation-2 ul.menu.nav li.expanded.dropdown a:hover {
    color: #3780cb !important;
  }
  header#navbar.navbar.navbar-default.container .navbar-collapse.collapse.in .region.region-navigation-collapsible .visible-xs
  nav#block-cypressmainnavigation-2 ul.menu.nav li.expanded.dropdown a.active {
    background: #09357a;
    color: #ffffff;
  }

  header#navbar.navbar.navbar-default.container .navbar-collapse.collapse.in .region.region-navigation-collapsible .visible-xs
  nav#block-cypressmainnavigation-2 ul.menu.nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a {
    color: #09357a;
  }
  /*Top  Sub-menu*/
  header#navbar.navbar.navbar-default.container .navbar-collapse.collapse.in .region.region-navigation-collapsible .visible-xs
  nav#block-cypressmainnavigation-2 ul.menu.nav li.expanded.dropdown ul.menu.dropdown-menu {
    position: relative;
    float: none;
    border: none;
    box-shadow: none;
    background-clip: initial;
    padding-left: 2em;
  }
  /*End top sub-menu*/
  header#navbar.navbar.navbar-default.container .navbar-collapse.collapse.in .region.region-navigation-collapsible .visible-xs
  nav#block-cypressmainnavigation-2 ul.menu.nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a:hover {
    color: #3780cb !important;
    background: #ffffff;
  }
  header#navbar.navbar.navbar-default.container .navbar-header {
    clear: both;
    border: none;
  }
  /*background behind the hamburger*/
  header#navbar.navbar-default {
    background-color: #c9cfdc;
  }
  header#navbar.navbar.navbar-default.container button.navbar-toggle {
    float: left;
    background-color: initial;
    position: absolute;
    top: 40px;
    left: 6%;
    border: none;
    z-index: 999;
    width: 45px;
    height: 45px;
    padding: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }


  #navbar .navbar-header .region.region-navigation .container.full-width .row .account-menu-log nav#block-extranet-account-menu
  ul.menu.nav.navbar-nav.navbar-right li.expanded.dropdown.open ul.menu.dropdown-menu {
    top: 85%;
    position: absolute;
    z-index: 999;
    left: auto;
    right: 0;
  }
  #navbar .navbar-header .region.region-navigation .container.full-width .row .account-menu-log nav#block-extranet-account-menu
  ul.menu.nav.navbar-nav.navbar-right li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a {
    background: #ffffff;
    color: #000000;
  }

  /*logo*/
  header#navbar.navbar.navbar-default.container .navbar-header .region.region-navigation .container.full-width .row .col-md-2.logo-bkgnd {
    padding: 20px 0;
  }
  header#navbar.navbar.navbar-default.container .navbar-header .region.region-navigation .container.full-width .row .col-md-2.logo-bkgnd
  a.logo.navbar-btn.pull-left {
    float: none !important;
  }
  header#navbar.navbar.navbar-default.container .navbar-header .region.region-navigation .container.full-width .row .col-md-2.logo-bkgnd
  a.logo.navbar-btn.pull-left img {
    display: block;
    margin: 0 auto;
  }
  /*logo end*/

  /* Start account menu. */
  .account-menu-log {
    position: absolute;
    top: 20px;
    right: 0;
  }
  .account-menu-log ul.navbar-right > li > a {
    font-size: 0;
  }
  /* End account menu. */

  /*End of top-menu styles*/

  /* Start of main-container styles  */
  #navbar .navbar-header {
    margin: 0px;
  }

  #ww_and_cy #ww #cy_stock {
    font-size: 15px;
  }
  #ww_and_cy #ww {
    padding-right: 7px;
    font-size: 15px;
  }
  #block-workweekandstock .container.full-width .row {
    background-color: #09357a;
    padding: 0.55em;
  }
  #block-workweekandstock .container.full-width .row .col-sm-12 {
    border: none;
   }
  /* Start of aside*/
  .main-container>.row>aside {
    margin: 0 auto;
  }
  .main-container>.row>.col-sm-3 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Start of Welcome user block*/
  .my-cyp {
    color: #ffffff;
    text-align: center;
    padding: 0px;
    font-size: 19px;
  }
  .welcome-user-wrapper {
    padding: 0px;
  }
  span.image-user img {
    display: block;
    margin: 0 auto;
  }
  .row.welcome-user-wrapper {
    text-align: center;
  }
  .welcome-user-wrapper .col-sm-7 {
    padding-left: 0px;
    padding-right: 0px;
  }
  #block-mainnavigation .open > .dropdown-menu > li > a,
  .extranet-pages-menu-block .open > .dropdown-menu > li >a,
  #block-distributionextranet .open > .dropdown-menu > li > a {
    padding-bottom: 3px;
    padding-top: 0px;
  }
  /* End of Welcome User block */

  #block-mainnavigation .navbar-nav,
  .extranet-pages-menu-block .navbar-nav,
  #block-distributionextranet .navbar-nav {
    margin: 0 auto;
  }
  /* End of aside*/

  /*stcon-2016 image*/
  section#content-main article .content .entity-ref-tab-formatter-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
  #tabs-68.ui-tabs-panel.ui-widget-content.ui-corner-bottom p a img {
    width: 100%;
  }
  /*stcon-2016 image*/
   /*edi-support-b2b-image*/
  img.edi-support-b2b-img {
    width: 100%;
  }
  /*edi-support-b2b-image*/
  /*edi-procedure-table*/
  body.page-node-type-cy-page table.edi-procedure.table-striped tbody tr td {
    min-height: 60px;
  }
   body.page-node-type-cy-page table.edi-procedure {
    width: 100%;
  }
  /*end of edi-procedure-table*/
  /*edi guideline-specs*/
  body.page-node-type-cy-page table.guide td.table-data-1 {
    width: 100%;
    padding-bottom: 32px;
  }
  body.page-node-type-cy-page table.guide td.table-data-2 {
    width: 100%;
  }
  body.page-node-type-cy-page table.guide td.table-data-3 {
    width: 100%;
  }
  /*end of edi-guideline-specs*/
  /*need-help table */
  body.page-node-type-cy-page table.need-help {
    width: 100%;
  }
  /*end nedd-help*/
  /*eco-system*/
  body.page-node-type-cy-page .table-responsive span.file-link a {
    word-wrap: break-word;
  }




  .field--item p u a{
    display: block;
    word-wrap: break-word;
  }
   body.page-node-type-cy-page table.need-help .need-td-3 {
    width: 100% !important;
    padding-bottom: 5px;
  }
  table.need-help tbody tr.tr-bcgd {
    display: none;
  }

  /*end need-help*/
  /*stcon-14*/
  #content-main article .entity-ref-tab-formatter-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
  ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all li.ui-state-default.ui-corner-top {
    white-space: normal;
  }
  /*search label*/
  body.path-search .form-item.js-form-item.form-type-search {
    width: 100%;
  }
  /*end search label*/
  body.path-search .region-content > h3 {
    text-align: left !important;
  }
  /*sap-node-226-image*/
  .sap-img-1{
    width: 100%;
  }
  .sap-img-2{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  /* End of main-container*/

  /* Starting of footer*/
  footer.footer.container {
    padding: 0.5em 0 0.5em 0;
    margin-top: 0.5em;
  }
  section.clearfix.col-sm-6 {
    width: 100%;
    text-align: center;
  }
  footer.footer .pull-right {
    text-align: center;
    float: none !important;
  }
  /*End of footer*/
}
/* End of Responsive for Mobile*/
/*Start Responsive for Mysamples-page*/
@media only screen and (min-width: 320px) and (max-width: 374px){
  body.path-my-samples .form-type-textfield{
    width: 74%;
    display: inline-block;
  }
  body.path-my-samples #edit-actions.form-actions{
    width: 18%;
    display: inline-block;
  }
  body.path-my-samples #edit-submit-my-samples.btn{
    position: relative;
    bottom: 2px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 424px){
  body.path-my-samples .form-type-textfield{
    width: 78%;
    display: inline-block;
  }
  body.path-my-samples #edit-actions.form-actions{
    width: 18%;
    display: inline-block;
  }
  body.path-my-samples #edit-submit-my-samples.btn{
    position: relative;
    bottom: 2px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px){
  body.path-my-samples .form-type-textfield{
    width: 80%;
    display: inline-block;
  }
  body.path-my-samples #edit-actions.form-actions{
    width: 18%;
    display: inline-block;
  }
  body.path-my-samples #edit-submit-my-samples.btn{
    position: relative;
    bottom: 2px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px){
  body.path-search #block-searchform-2 {
    display: none;
  }
}
/*End Responsive for Mysamples-page*/

@media only screen and (min-width: 768px) and (max-width: 1259px) {
  .account-menu-log {
    padding-left: 0;
    padding-right: 20px;
  }
}

/* Start of Responsive for Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  body.path-search #block-searchform-2 {
    display: none;
  }

  #ww_and_cy #ww {
    padding-right: 10px;
    font-size: 16px;
  }

  #block-workweekandstock .container.full-width .row {
    background-color: #09357a;
    padding: 0.43em;
    font-size: 16px
  }
  #block-workweekandstock .container.full-width .row .col-sm-12 {
    border: none;
  }

  .main-container.container .row aside.col-sm-3 {
    width: 43%;
    padding-left: 42px;
    margin-top: 1.5em;
  }
  span.welcome-first-last-name {
    margin-top: 4%;
  }

  .welcome-user-wrapper span.col-sm-4 {
    width: 40.333333%;
  }
  .welcome-user-wrapper span.col-sm-4.image-user {
    padding-left: 12px;
  }
  .welcome-user-wrapper span.col-sm-7{
    width: 51.333333%;
  }
  .welcome-user-wrapper span.col-sm-7.welcome-first-last-name {
    margin-top: 4%;
  }
  .welcome-user-wrapper span.col-sm-7.welcome-first-last-name span.welcome-line {
    font-size: 17px;
  }
  .welcome-user-wrapper span.col-sm-7.welcome-first-last-name span.first-last-name {
    font-size: 17px;
  }
  nav#block-mainnavigation ul.menu.nav.navbar-nav li  > a, .extranet-pages-menu-block ul.menu.nav.navbar-nav li >a, nav#block-distributionextranet ul.menu.nav.navbar-nav li  > a {
    padding-top: 10.5px;
    padding-bottom: 5px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,.extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu, #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu {
    padding-top: 0px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,.extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a, #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a {
    padding-bottom: 3px;
    padding-top: 0px;
  }

  #content-main.col-sm-9 {
    width: 57%;
    /*text-align: center;*/
  }

  .main-nav-menu{
    height: 0em;
  }
  /*stcon-2016 image*/
  section#content-main article .content .entity-ref-tab-formatter-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
  #tabs-68.ui-tabs-panel.ui-widget-content.ui-corner-bottom p a img {
    width: 100%;
  }
  /*stcon-2016 image*/
  /*edi-support-b2b-image*/
  img.edi-support-b2b-img {
    width: 100%;
  }
  /*edi-support-b2b-image*/
  /*edi-procedure-table*/
  body.page-node-type-cy-page table.edi-procedure.table-striped tbody tr td {
    min-height: 60px;
  }
   body.page-node-type-cy-page table.edi-procedure {
    width: 100%;
  }
  /*end of edi-procedure-table*/
  /*edi-guidelines*/
  body.page-node-type-cy-page table.guide {
    width: 100%;
  }
  body.page-node-type-cy-page table.guide td.table-data-1 {
    width: 100%;
  }
  body.page-node-type-cy-page table.guide td.table-data-2 {
    width: 100%;
  }
  body.page-node-type-cy-page table.guide td.table-data-3 {
    width: 100%;
  }
  /*end of edi-guidelines*/
  /*need-help table */
  table.need-help {
  width: 100%;
  }
   .field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item p u a {
    display: block;
  }
  table.need-help .need-td-3 {
    width: 100%;
    padding-bottom: 5px;
  }
  /*end need-help*/
  /*stcon-14*/
  #content-main article .entity-ref-tab-formatter-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
  ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
      white-space: normal;
  }
  /*general sessions & fae*/
  body.page-node-type-stcon div.field .field--label {
    text-align: left;
  }
  /*end stcon-14*/
  /*eco-system*/
  body.page-node-type-cy-page .table-responsive span.file-link a {
    word-wrap: break-word;
  }
  #content-main .field--item {
    text-align: left;
  }
  /*search label*/
  body.path-search .form-item.js-form-item.form-type-search {
    width: 100%;
  }
  body.path-search .region-content > h3 {
    text-align: left !important;
  }
  /*end search label*/
   body.page-node-type-cy-page .product-training {
    width: 100%;
  }
  /*npi-corporate presentations--files alignment*/
   body.page-node-type-cy-page .field--label {
      text-align: left;
  }
  /* end of npi-corporate presentations*/

  footer.footer.container {
    padding: 0.7em 0 0.7em 0;
    margin-top: 1em;
  }
  footer.footer section.clearfix.col-sm-6 {
    width: 100%;
    text-align: center;
  }
  footer.footer div.col-sm-6 {
    width: 100%;
  }
  footer.footer .pull-right {
    text-align: center;
    float: none !important;
  }

}
/* End of Responsive for Tablet */

/* Starting of Responsive for Laptops 1024px*/
@media only screen and (min-width: 1024px) and (max-width: 1130px) {

  .main-container.container .row aside.col-sm-3 {
    width: 30%;
    padding-left: 42px;
    padding-right: 0px;
    margin-top: 1.5em;
  }
  #block-workweekandstock .container.full-width .row {
    font-size: 16px
  }

  #block-workweekandstock .container.full-width .row .col-sm-12 {
    padding: 0.31em;
  }

  nav#block-mainnavigation ul.menu.nav.navbar-nav li > a,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li > a,
  nav#block-distributionextranet ul.menu.nav.navbar-nav li > a {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,
  #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu {
    padding-top: 0px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,
  #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a {
    padding-bottom: 3px;
  }

  #block-mainnavigation .caret, #block-distributionextranet .caret .extranet-pages-menu-block .caret {
  position: absolute;
  left: 89%;
  }
  #content-main.col-sm-9 {
    width: 70%;
  }
  body.path-frontpage #content-main {
    text-align: justify;
  }
  /*search label*/
  body.path-search .form-item.js-form-item.form-type-search {
    width: 100%;
  }
  /*end search label*/
  /*end site-search page*/
  #content-main  .view-content .table-responsive {
    width: 100%;
  }

   /*edi-support-b2b-image*/
  img.edi-support-b2b-img {
    width: 100%;
  }
  /*edi-support-b2b-image*/
  /*table edi-procedure*/
  body.page-node-type-cy-page table.edi-procedure {
    width: 100%;
  }
  /* end edi-procedure*/
  /*need-help table*/
  body.page-node-type-cy-page table.need-help {
  width: 100%;
  }
  body.page-node-type-cy-page table.need-help tr {
    text-align: left;
  }
  /*end need-help table*/
  /*eco-system*/
  #content-main .quickedit-field {
    text-align: left;
  }


  body.page-node-type-cy-page .table-responsive span.file-link a {
    word-wrap: break-word;
  }
  /*end eco-system*/


  footer.footer.container {
    padding: 0.7em 0 0.7em 0;
    margin-top: 1em;
  }
  footer.footer section.clearfix.col-sm-6 {
    width: 100%;
    text-align: center;
  }
  footer.footer div.col-sm-6 {
    width: 100%;
  }
  footer.footer .pull-right {
    text-align: center;
    float: none !important;
  }

}
/*End of Responsive for Laptop 1024px*/

/* Starting of Responsive for Laptop 1131px*/
@media only screen and (min-width: 1131px) and (max-width: 1230px) {

  .main-container.container .row aside.col-sm-3 {
    width: 28%;
    padding-left: 42px;
    padding-right: 0px;
    margin-top: 1.5em;
  }
  .main-container.container .row aside#sidebar_second.col-sm-3 {
    width: 20%;
    padding-left: 0px;
    position: absolute;
    right: 3px;
  }
  #block-mainnavigation .caret,
  .extranet-pages-menu-block .caret,
  #block-distributionextranet .caret {
    position: absolute;
    left: 90%;
  }
  #block-workweekandstock .container.full-width .row {
    font-size: 16px
  }

  #block-workweekandstock .container.full-width .row .col-sm-12 {
    padding: 0.31em;
  }

  nav#block-mainnavigation ul.menu.nav.navbar-nav li > a,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li > a,
  nav#block-distributionextranet ul.menu.nav.navbar-nav li > a {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,
  #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu {
    padding-top: 0px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,
  #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a {
    padding-bottom: 3px;
  }
  #content-main.col-sm-9 {
    width: 72%;
  }
  body.path-frontpage #content-main {
    text-align: justify;
    /*text-align: center;*/
  }


  #content-main  .view-content .table-responsive {
    width: 100%;
  }
  /*eco-system*/
  #content-main .quickedit-field {
    text-align: left;
  }
  /*end eco-system*/

}
/*End of Responsive for Laptop 1131px*/

/* Starting of Responsive for Laptop 1231px*/
@media only screen and (min-width: 1231px) and (max-width: 1359px) {

  .main-container.container .row aside.col-sm-3 {
    width: 26%;
    padding-left: 42px;
    padding-right: 0px;
    margin-top: 1.5em;
  }
  .main-container.container .row aside#sidebar_second.col-sm-3 {
    width: 20%;
    padding-left: 0px;
    position: absolute;
    right: 3px;
  }
  #block-workweekandstock .container.full-width .row {
    font-size: 16px
  }

  #block-workweekandstock .container.full-width .row .col-sm-12 {
    padding: 0.31em;
  }

  nav#block-mainnavigation ul.menu.nav.navbar-nav li > a,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li > a,
  nav#block-distributionextranet ul.menu.nav.navbar-nav li > a {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,
  #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu {
    padding-top: 0px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,
  #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a {
    padding-bottom: 3px;
  }
  body.path-frontpage #content-main {
    width: 74%;
    text-align: justify;
  }


  #content-main  .view-content .table-responsive {
    width: 100%;
  }
  #content-main.col-sm-9 {
    width: 74%;
  }

}
/*End of Responsive for Laptop 1231px*/

/* Starting of Responsive for Laptop 1360px*/
@media only screen and (min-width: 1360px) and (max-width: 1439px) {

  .main-container.container .row aside.col-sm-3 {
    width: 25%;
    padding-left: 42px;
    padding-right: 0px;
    margin-top: 1.5em;
  }
  .main-container.container .row aside#sidebar_second.col-sm-3 {
    width: 20%;
    padding-left: 0px;
    position: absolute;
    right: 3px;
  }
  #block-workweekandstock .container.full-width .row {
    font-size: 16px
  }

  #block-workweekandstock .container.full-width .row .col-sm-12 {
    padding: 0.31em;
  }

  nav#block-mainnavigation ul.menu.nav.navbar-nav li > a,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li > a,
  nav#block-distributionextranet ul.menu.nav.navbar-nav li > a {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,
  #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu {
    padding-top: 0px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,
  #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a {
    padding-bottom: 3px;
  }
  body.path-frontpage #content-main {
    width: 75%;
    text-align: justify;
  }


  #content-main  .view-content .table-responsive {
    width: 100%;
  }

}
/*End of Responsive for Laptop 1360px*/


/* Start of Responsive for Larger Laptops 1440px */
@media only screen and (min-width: 1440px) and (max-width: 2559px) {

  .main-container.container .row aside.col-sm-3 {
    padding-left: 42px;
    padding-right: 0px;
    margin-top: 1.5em;
  }

  #block-workweekandstock .container.full-width .row {
    font-size: 16px
  }

  #block-workweekandstock .container.full-width .row .col-sm-12 {
    padding: 0.18em;
  }

  aside.col-sm-3 {
    width: 22%;
  }
  #content-main.col-sm-9 {
    width: 78%;
  }

  nav#block-mainnavigation ul.menu.nav.navbar-nav li > a,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li > a,
  nav#block-distributionextranet ul.menu.nav.navbar-nav li > a {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,
  #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu {
    padding-top: 0px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,
  #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a {
  padding-bottom: 3px;
  padding-top: 0px;
  }

  #block-mainnavigation .caret,
  .extranet-pages-menu-block .caret,
  #block-distributionextranet .caret {
    position: absolute;
    left: 88%;
  }
}
/* End of Responsive for Larger Laptops 1440px */

/* Start of Responsive for Larger Desktops 2560px */
@media only screen and (min-width: 2560px) {

  .main-container.container .row aside.col-sm-3 {
    padding-left: 42px;
    padding-right: 0px;
    margin-top: 1.5em;
  }

  #block-workweekandstock .container.full-width .row {
    font-size: 16px
  }

  aside.col-sm-3 {
    width: 17%;
  }
  #content-main.col-sm-9 {
    width: 83%;
  }

  nav#block-mainnavigation ul.menu.nav.navbar-nav li > a,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li > a,
  nav#block-distributionextranet ul.menu.nav.navbar-nav li > a {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu,
  #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu {
    padding-top: 0px;
  }

  #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,
  .extranet-pages-menu-block ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a,
  #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a {
  padding-bottom: 3px;
  padding-top: 0px;
  }

}
/* End of Responsive for Larger Desktops */
/** Site Search Page **/
body.path-search .region-content{
  color: #727375;
}
body.path-search #search-form {
  display: none;
}
#search-for{
  color: #1A0DAB;
}
#search-for-key{
  margin-left: 40px;
  font-size: 15px;
  font-family: "open_sanssemibold",Arial,sans-serif;
}
body.path-search nav.tabs,
body.path-search div.search-advanced,
body.path-search a.search-help-link {
  display: none;
}
body.path-search .region-content > h3 {
  font-size: 16px;
  text-align: center;
}
body.path-search .region-content ol li h3 {
  font-size: 18px;
}
body.path-search .region-content .button{
  background-color: #217dbb;
  border: 2px solid #217dbb;
}
body.path-search form.search-page-form {
  text-align: -webkit-center;
  margin-top: 2em;
}
body.path-search form.search-page-form #edit-keys {
  border: 1px solid #217dbb;
}
body.path-search .region-content div.form-item {
  width: 50em;
}
body.path-search .main-container.container .row section#content-main .region.region-content h1.page-header {
  background-color: white;
  text-transform: none;
  display: none;
}
/** End of Site Search **/
/** Starting Search form block left side **/
#block-searchform {
  padding: 10px;
  /*border-bottom: 1px solid #b3c1d6;*/
}


#block-searchform #search-block-form .button span.glyphicon-search {
  top: -1px;
}
#block-searchform #search-block-form input {
  height: 33px;
  border: 1px solid rgba(0,0,0,0.25);
  background-color: initial;
}
/**End Search form block**/
/* Start Promo code form. */
#yamlform-submission-promocode-form label.form-required::after {
  content: '*';
  margin-left: 6px;
  color: red;
}
#yamlform-submission-promocode-form .form-item {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
#yamlform-submission-promocode-form .form-item > input, #yamlform-submission-promocode-form .form-item select {
  width: 50%;
  display: block;
  height: 2.5em;
  padding-top: 5px;
  padding-bottom: 5px;
}
span.yaml-form-help {
  font-size: 0.9em;
  font-style: italic;
}
#yamlform-submission-promocode-form button#edit-submit {
  background-color: #3498db;
  border-color: #3498db;
  padding: 0.45em 3em;
}
@media only screen and (max-width: 1023px){
  #yamlform-submission-promocode-form .form-item > input, #yamlform-submission-promocode-form .form-item > select {
  width: 100%;
  }
}
/* End Promo code form */

/*for node/66 table header*/
body.page-node-type-cy-page table.need-help thead .tr-bcgd th {
  padding-bottom: 0px;
}
/*End table header*/
/* Override responsive table. */
@media only screen and (max-width: 800px) {
  .view-id-file_search .table>tbody>tr>td, .field--name-field-files .table>tbody>tr>td {
    display: none;
  }
  .view-id-file_search .table>tbody>tr>td:nth-child(3), .field--name-field-files .table>tbody>tr>td:nth-child(4) {
    display: block;
    padding-left: 14px !important;
  }
  .view-id-file_search .table>tbody>tr>td:nth-child(3):before, .field--name-field-files .table>tbody>tr>td:nth-child(4):before {
    content: '';
  }
}
.table-striped > tbody > tr.highlight-latest {
  background-color: rgba(249,217,217,0.5);
}
.table-striped > tbody > tr.highlight-latest:nth-of-type(odd) {
  background-color: rgba(249,217,217,1);
}
.table-striped > tbody > tr.highlight-latest:hover {
  background-color: #f9f9f9;
}
/* Override responsive table. */
/* Start home dashboard icons */
.view-home-page-menu-icons .views-row {
  min-height: 215px;
  vertical-align: bottom;
}
.view-home-page-menu-icons .views-row .title-menu-link {
  text-align: center;
}
@media all and (min-width: 376px) {
  .view-home-page-menu-icons .views-row {
    display: inline-block;
    margin: 0 2%;
  }
}
@media all and (min-width: 376px) and (max-width: 768px) {
  .view-home-page-menu-icons .views-row {
    width: 45%;
  }
}
@media all and (min-width: 769px) and (max-width: 1023px) {
  .view-home-page-menu-icons .views-row {
    width: 28%;
  }
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
  .view-home-page-menu-icons .views-row {
    width: 20%;
  }
}
@media all and (min-width: 1440px) {
  .view-home-page-menu-icons .views-row {
    width: 15%;
  }
}
/* End home dashboard icons */
#block-mainnavigation ul.menu.nav li.expanded>a>span.caret,
#block-itextranetpagesmenublock ul.menu.nav li.expanded>a>span.caret,
#block-distributionextranet ul.menu.nav li.expanded>a>span.caret {
  border-top: 5px dashed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
#block-mainnavigation ul.menu.nav li.expanded>a>span.caret:hover,
#block-itextranetpagesmenublock ul.menu.nav li.expanded>a>span.caret:hover,
#block-distributionextranet ul.menu.nav li.expanded>a>span.caret:hover {
  border-top-color: #E84A00;
}