/* start global */
a:hover {
  color: #3780cb !important;
}
/* end global */
/*Starting the Header-Menu block*/
body {
  margin: 0px;
  font-family: "open_sanssemibold",Arial,sans-serif;
}
header.navbar.container, div.main-container.container, footer.footer.container{
  margin:0px;
  padding: 0px;
  max-width: initial;
  width: 100%;
}
.navbar-header{
  float: none;
  background-color: white;
  border-top: 2px solid #09357A;
}
.logo-bkgnd {
  padding-left: 40px;
}
a {
  color: #09357a;
  text-decoration: none !important;
}
.main-nav-menu .menu li a, .account-menu-log .menu li a, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  color: #252525;
}
.main-nav-menu, .account-menu-log {
  height: 7.25em;
}
.main-nav-menu nav#block-cypressmainnavigation {
  margin-top: 2em;
}
.account-menu-log nav#block-extranet-account-menu, #block-userloginmenu {
  margin-top: 1.5em;
}
#block-userloginmenu ul.menu.nav {
  float: right;
  margin-top: 0.7em;
}
#block-userloginmenu ul li a:hover {
  background-color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  background-color: initial;
}
#block-cypressmainnavigation>ul>li {
  float: left;
}
/* Start user account menu */
.navbar-default .account-menu-log .navbar-nav > .open > a {
  background-color: white;
  color: inherit;
}
.account-menu-log .menu.dropdown-menu {
  top: 80%;
}
.account-menu-log .dropdown-menu li a:hover {
  background-color: #e8ebf1;
}
.navbar-right {
  margin: 0;
}
/* End user account menu */
/* Start - Table of documents. */
.table>thead>tr>th {
  background-color: #e8ebf1;
  border: 1px solid #eaeff2 !important;
  vertical-align: middle;
  text-align: center;
  padding: 14px;
}
.table>tbody>tr>td {
  border-top: 0px;
  padding: 14px;
  vertical-align: middle;
}
.table>tbody>tr>td span.file-size {
  display: none;
}
.full-width {
  width: 100%;
}
.tablesort {
  margin-left: 0.5em;
}
/* End - Table of documents. */
/*Strting Welcome user Block*/
.region-sidebar-first {
  background-color: #e8ebf1;
}
.my-cypress-title {
  background-color: #09357a;
  border-bottom: 2px solid #2966a3;
  padding-top: 0.01em;
}
.my-cyp {
  color: white;
  padding-left: 15px;
}
.form-group {
  margin-bottom: 0px
}
.row.welcome-user-wrapper {
  margin: 0;
}
.welcome-user-wrapper {
  padding: 30px 0 15px 0px;
}
span.image-user {
  margin-left: 8%;
}
span.image-user img {
  background-color: white;
}
span.welcome-first-last-name {
  color: #09357a;
  margin-top: 4%;
}
.first-last-name {
  font-weight: bold;
}
/*End Welcome user block*/
/*Start nav bar primary*/
#block-mainnavigation .navbar-nav, #block-mainnavigation .navbar-nav li,
#block-distributionextranet .navbar-nav, #block-distributionextranet .navbar-nav li{
  float:none;
}
#block-mainnavigation .navbar-nav li, #block-distributionextranet .navbar-nav li {
  border-bottom: 1px solid #b3c1d6
}
#block-mainnavigation .navbar-nav li a, #block-distributionextranet .navbar-nav li a {
  padding-left: 2.7em;
  font-size: 14px;
}

#block-mainnavigation .navbar-nav li a:hover, #block-distributionextranet .navbar-nav li a:hover {
  background-color: #ecf0f1;
}
nav#block-mainnavigation.contextual-region ul.menu.nav.navbar-nav li.expanded.dropdown.active, nav#block-distributionextranet.contextual-region ul.menu.nav.navbar-nav li.expanded.dropdown.active{
  background: #09357a;
  color: #ffffff;
}
nav#block-mainnavigation.contextual-region ul.menu.nav.navbar-nav li.expanded.dropdown.active a.is-active, nav#block-distributionextranet.contextual-region ul.menu.nav.navbar-nav li.expanded.dropdown.active a.is-active{
  color: #ffffff;
}
/*
nav#block-mainnavigation.contextual-region ul.menu.nav.navbar-nav li.expanded.dropdown.active.open > a{
  background-color: #09357a;
  color: #ffffff;
}*/

#block-mainnavigation .caret, #block-distributionextranet .caret{
    position: absolute;
    left: 88%;
    top: 47%;
}


#block-workweekandstock row {
  margin: 0;
}
#block-workweekandstock .col-sm-12 {
  background-color: #09357A;
  color: white;
  border-bottom: 1px solid white;
}
#ww_and_cy {
  text-align: center;
  padding: 0.5% 0;
}
#ww_and_cy #ww {
  border-right: 1px solid white;
  margin-right: 0.6%;
  padding-right: 1%;
}
#ww_and_cy #cy_stock .flag-red {
  color: red;
}
#ww_and_cy #cy_stock .flag-green {
  color: green;
}
/*End nav bar primary*/
/* Start banner */
.view-banner-image-block img {
  width: 100%;
  max-height: 265px;
}
/* End banner */
/* Start breadcrumb */
.breadcrumb {
  display: none;
}
/* End breadcrumb */
/* Start content */
.main-container {
  width: 100%;
}
.main-container>.row {
  margin: 0;
}
.main-container>.row>.col-sm-12 {
  padding: 0;
}
.main-container>.row>aside {
  margin-top: 1em;
}
/* End content */
/* Start content menu home icon */
#content-main .views-row img.img-responsive {
  margin: 0 auto;
}
/* End content menu home icon */
/* Start download all docs */
.download-all-files-wrapper {
  margin-bottom: 6px;
}
.download-all-files {
  color: white;
  background-color: #09357A;
  display: inline-block;
  padding: 0.5% 2%;
  font-weight: bold;
  position: relative;
}
.download-all-files>div{
  display: inline-block;
}
.download-all-files .download-all-icon {
  width: 28px;
  height: 29px;
  background: url('../images/download-icon.png');
}
.download-all-files .download-label {
  font-size: 0.95em;
}
.download-all-files .title {
  font-size: 0.7em;
}
/* End download all docs */
/*Start footer region*/
footer.footer.container {
  background-color: #09357A;
  color: white;
  padding: 1.5em 0 0.7em 0;
  margin-top: 2em;
}
.region.region-footer nav {
  display: inline-block;
}
.region.region-footer ul.menu.nav li {
  display: inline-block;
}
.region.region-footer ul.menu.nav li a {
  color: white;
  padding: 0 6px 0 0;
  border-right: 1px solid white;
}
.region.region-footer ul.menu.nav li a:hover {
  background-color: initial;
}
span#footer-copyrights {
  padding-left: 3px;
}
/*End footer region*/
/*Stating home page menu icons*/
.view-home-page-menu-icons .view-content .views-row{
  text-align: center;
  display: inline-block;
  max-width: 150px;
  margin: 0 4%;
  min-height: 210px;
  vertical-align: bottom;
}
.path-frontpage h1.page-header{
  padding-bottom: 20px;
  margin: 0;
  border-bottom: 0;
}
/*End homepage menu*/
/*STCON content type*/
body.page-node-type-stcon h1.page-header{
  display: none;
}
body.page-node-type-stcon div.content, body.page-node-type-stcon div.field{
  margin-top: 15px;
}
body.page-node-type-stcon div.field .field--label{
  font-size: 24px;
}
/*End STCON*/

/* Start extranet sidebar menu */
.extranet-pages-menu-block li {
  border-bottom: 1px solid #b3c1d6;
}

.extranet-pages-menu-block li a {
  padding-left: 2.7em;
  font-size: 14px;
  display: block;
  background-color: #e8ebf1 !important;
}

@media (min-width: 768px) {
  .extranet-pages-menu-block li a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
  }
}
/* End extranet sidebar menu */
/* Start subpage menu */
.field--name-field-sub-pages>.field--label {
  font-weight: bold;
}
.field--name-field-sub-pages>.field__items>.field--item {
  background-color: #e8ebf1;
  margin-top: 0.5em;
  padding: 0.1em 0.5em;
}
/* End subpage menu */
/* Start Cypress admin dashboard */
#block-admindashboard {
  background-color: #f5f5f2;
}
#block-admindashboard .open > .dropdown-menu, #block-mainnavigation .open > .dropdown-menu, #block-distributionextranet .open > .dropdown-menu {
  display: block;
  position: relative;
  float: none;
  padding-left: 40px;
  border: none;
  box-shadow: none;
  background-color: #f5f5f2;
}#block-mainnavigation .open > .dropdown-menu, #block-distributionextranet .open > .dropdown-menu {
  padding-left: 0;
  background-color: #e8ebf1;
  border-radius: 0;
}
#block-mainnavigation .open > .dropdown-menu > li, #block-distributionextranet .open > .dropdown-menu > li {
  border: none;
}
#block-mainnavigation .open > .dropdown-menu > li > a, #block-distributionextranet .open > .dropdown-menu > li > a {
  white-space: normal;
  padding-top: 10px;
  padding-bottom: 9.5px;
  padding-left: 4em;
  color: #09357a;
}
#block-mainnavigation .open > .dropdown-menu > li > a.is-active, #block-distributionextranet .open > .dropdown-menu > li > a.is-active {
  background-color: #09357a !important;
  color: white;
}
#block-admindashboard .open > .dropdown-menu > li > a:hover {
  background-color: #ecf0f1;
}
/* End Cypress admin dashboard */

/* Start of IT Extract Dashboard Add IT Exyranet Button */
body.path-it-extranet-dashboard .view-header {
  margin-bottom: 25px;
}
body.path-it-extranet-dashboard .view-header .add-it-extranet {
  background-color: #09357a;
  border-bottom: 1px solid #2966a3;
  padding: 8px 12px 8px 12px;
  width: 150px;
  color: white;
}
/* End IT Extract Dashboard Add IT Exyranet Button */
/* Start Tag cloud */
ul.default_tag_clouds {
  text-align: center;
}
/* End Tag cloud */

/* Start homepage menu icons */
body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap {
  width: 168px;
}

.glyphicon {
  display: none;
}

body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap .img-menu {
  display: initial;
}
/* End of homepae icon
/*My Samples page*/
body.path-my-samples .view-content .table-responsive {
  margin-top: 1em;
}
/*End Mysamples*/


/* Start of Responsive for Mobile*/
@media only screen and (min-width: 320px) and (max-width: 767px){

    .main-nav-menu, .account-menu-log {
      height: 0em;
    }

    /* Start of main-container styles  */
    #navbar .navbar-header{
      margin: 0px;
    }

    #ww_and_cy #ww #cy_stock{
        font-size: 15px;
    }
    #ww_and_cy #ww {
        padding-right: 7px;
        font-size: 15px;
    }
    #block-workweekandstock .container.full-width .row{
     background-color: #09357a;
     padding: 0.55em;
    }
    #block-workweekandstock .container.full-width .row .col-sm-12{
      border: none;
     }
    /* Start of aside*/
    .main-container>.row>aside{
      margin: 0 auto;
    }
    .main-container>.row>.col-sm-3{
        position: relative;
        min-height: 1px;
        padding-left: 0px;
        padding-right: 0px;
    }

    /* Start of Welcome user block*/
    .my-cyp{
        color: #ffffff;
        text-align: center;
        padding: 0px;
        font-size: 19px;
    }
    .welcome-user-wrapper {
        padding: 0px;
    }
    span.image-user img{
        display: block;
        margin: 0 auto;
    }
    .row.welcome-user-wrapper{
      text-align: center;
    }
    .welcome-user-wrapper .col-sm-7{
        padding-left: 0px;
        padding-right: 0px;
    }
    #block-mainnavigation .open > .dropdown-menu > li > a, #block-distributionextranet .open > .dropdown-menu > li > a{
      padding-bottom: 3px;
      padding-top: 0px;
    }
    /* End of Welcome User block */

    #block-mainnavigation .navbar-nav, #block-distributionextranet .navbar-nav{
      margin: 0 auto;
    }
    .expanded.dropdown.open a.dropdown-toggle{
      padding-bottom: 0px;
    }
    /* End of aside*/

    .view-home-page-menu-icons .view-content .views-row{
      /*margin: 0 auto;*/
    }
    body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap{
      width: 100%;
      min-height: 208px;
    }
    body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap {
    width: 150px;
    min-height: 200px;
    }
    body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap  a .title-menu-link h4{
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }
    .path-frontpage #content-main .view-content{
      text-align: center;
    }
    /* End of main-container*/

    /* Starting of footer*/
    footer.footer.container{
        padding: 0.5em 0 0.5em 0;
        margin-top: 0.5em;
    }
    section.clearfix.col-sm-6{
      width: 100%;
      text-align: center;
    }
    footer.footer .pull-right{
      text-align: center;
      float: none !important;
    }
    /*End of footer*/
}
/* End of Responsive for Mobile*/

/* Start of Responsive for Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px){

    #ww_and_cy #ww {
        padding-right: 10px;
        font-size: 16px;
    }
    #block-workweekandstock .container.full-width .row {
    background-color: #09357a;
    padding: 0.43em;
    font-size: 16px
    }
    #block-workweekandstock .container.full-width .row .col-sm-12{
      border: none;
    }

    .main-container.container.js-quickedit-main-content .row aside.col-sm-3{
      width: 43%;
      padding-left: 42px;
      margin-top: 1.5em;
    }
    span.welcome-first-last-name {
      margin-top: 4%;
    }

    .welcome-user-wrapper span.col-sm-4{
      width: 40.333333%;
    }
    .welcome-user-wrapper span.col-sm-4.image-user{
      padding-left: 12px;
    }
    .welcome-user-wrapper span.col-sm-7{
      width: 51.333333%;
    }
    .welcome-user-wrapper span.col-sm-7.welcome-first-last-name{
      margin-top: 4%;
    }
    .welcome-user-wrapper span.col-sm-7.welcome-first-last-name span.welcome-line{
      font-size: 17px;
    }
    .welcome-user-wrapper span.col-sm-7.welcome-first-last-name span.first-last-name{
      font-size: 17px;
    }
    nav#block-mainnavigation ul.menu.nav.navbar-nav li  > a, nav#block-distributionextranet ul.menu.nav.navbar-nav li  > a{
      padding-top: 10.5px;
      padding-bottom: 5px;
    }
    .expanded.dropdown.open a.dropdown-toggle{
      padding-bottom: 0px;
    }

    #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu, #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu{
      padding-top: 0px;
    }

    #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a, #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a{
      padding-bottom: 3px;
      padding-top: 0px;
    }

    #content-main{
        width: 55%;
        text-align: center;
    }
    .main-nav-menu{
      height: 0em;
    }
    .account-menu-log {
        height: 4.0em;
    }
    body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap {
    width: 150px;
    }
    body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap a .title-menu-link h4{
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }

    .view-home-page-menu-icons .view-content .views-row{
      margin: 0 2%;
    }

    footer.footer.container{
        padding: 0.7em 0 0.7em 0;
        margin-top: 1em;
    }
    footer.footer section.clearfix.col-sm-6{
      width: 100%;
      text-align: center;
    }
    footer.footer div.col-sm-6{
      width: 100%;
    }
    footer.footer .pull-right{
      text-align: center;
      float: none !important;
    }

}
/* End of Responsive for Tablet */

/* Starting of Responsive for Laptop 1024px*/
@media only screen and (min-width: 1024px) and (max-width: 1439px){

    .main-container.container.js-quickedit-main-content .row aside.col-sm-3{
      width: 30%;
      padding-left: 42px;
      padding-right: 0px;
      margin-top: 1.5em;
    }
    .main-container.container.js-quickedit-main-content .row aside#sidebar_second.col-sm-3{
      width: 20%;
      padding-left: 0px;
      position: absolute;
      right: 3px;
    }
    #block-workweekandstock .container.full-width .row {
    font-size: 16px
    }

    #block-workweekandstock .container.full-width .row .col-sm-12{
    padding: 0.31em;
    }

    nav#block-mainnavigation ul.menu.nav.navbar-nav li > a, nav#block-distributionextranet ul.menu.nav.navbar-nav li > a {
    padding-top: 10px;
    padding-bottom: 5px;
    }

    #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu, #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu{
      padding-top: 0px;
    }

    #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a, #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a {
      padding-bottom: 3px;
    }
    #content-main{
        width: 70%;
    }
    body.path-file-search

    #content-main  .view-content .table-responsive{
      width: 70%;
    }

    body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap {
    width: 150px;
    }

    body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap a .title-menu-link h4{
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }

    #content-main .region.region-content .views-element-container.contextual-region.form-group .contextual-region.view.view-home-page-menu-icons.view-id-home_page_menu_icons.view-display-id-page_1 .view-content{
      margin: 0 4.5%;
    }
    footer.footer.container{
        padding: 0.7em 0 0.7em 0;
        margin-top: 1em;
    }
    footer.footer section.clearfix.col-sm-6{
      width: 100%;
      text-align: center;
    }
    footer.footer div.col-sm-6{
      width: 100%;
    }
    footer.footer .pull-right{
      text-align: center;
      float: none !important;
    }

}
/*End of Responsive for Laptop 1024px*/

/* Start of Responsive for Larger Laptops 1440px */
@media only screen and (min-width: 1440px) and (max-width: 2559px){

    .main-container.container.js-quickedit-main-content .row aside.col-sm-3{
      padding-left: 42px;
      padding-right: 0px;
      margin-top: 1.5em;
    }

    #block-workweekandstock .container.full-width .row {
    font-size: 16px
    }

    #block-workweekandstock .container.full-width .row .col-sm-12{
    padding: 0.18em;
    }

    aside.col-sm-3 {
      width: 22%;
    }

    nav#block-mainnavigation ul.menu.nav.navbar-nav li > a, nav#block-distributionextranet ul.menu.nav.navbar-nav li > a {
    padding-top: 10px;
    padding-bottom: 5px;
    }

    #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu, #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu{
      padding-top: 0px;
    }

    #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a, #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a {
    padding-bottom: 3px;
    padding-top: 0px;
    }

    body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap {
    width: 150px;
    }
    body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap a .title-menu-link h4{
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }

    #content-main .region.region-content .views-element-container.contextual-region.form-group .contextual-region.view.view-home-page-menu-icons.view-id-home_page_menu_icons.view-display-id-page_1 .view-content{
      width: 100%;
      margin: 0px 5.2%;
    }
    .view-home-page-menu-icons .view-content .views-row{
      margin: 0 2%;
    }
}
/* End of Responsive for Larger Laptops */

/* Start of Responsive for Larger Desktops 2560px */
@media only screen and (min-width: 2560px){

    .main-container.container.js-quickedit-main-content .row aside.col-sm-3{
      padding-left: 42px;
      padding-right: 0px;
      margin-top: 1.5em;
    }

    #block-workweekandstock .container.full-width .row {
    font-size: 16px
    }

    aside.col-sm-3 {
      width: 17%;
    }

    nav#block-mainnavigation ul.menu.nav.navbar-nav li > a, nav#block-distributionextranet ul.menu.nav.navbar-nav li > a {
    padding-top: 10px;
    padding-bottom: 5px;
    }

    #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu, #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu{
      padding-top: 0px;
    }

    #block-mainnavigation ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a, #block-distributionextranet ul.menu.nav.navbar-nav li.expanded.dropdown.open ul.menu.dropdown-menu li.expanded.dropdown a {
    padding-bottom: 3px;
    padding-top: 0px;
    }
    body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap {
    width: 150px;
    }
    body.path-frontpage .view-home-page-menu-icons .views-row .image-menu-title-wrap a .title-menu-link h4{
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }

    #content-main .region.region-content .views-element-container.contextual-region.form-group .contextual-region.view.view-home-page-menu-icons.view-id-home_page_menu_icons.view-display-id-page_1 .view-content{
      width: 100%;
      margin: 0px 5%;
    }
    .view-home-page-menu-icons .view-content .views-row{
      margin: 0 3%;
    }

}
/* End of Responsive for Larger Desktops */
