// out: ../css/style.css
// Bootstrap Framework.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';
/*variables for header*/
@font-size-pmenu: 14px;
@link-color: #1d1b1c;
@opacity-hover: 0.5;
@font-open: "Open Sans";

html{
	font-family: @font-open;
}

/*Start styles for store*/
/*start styles for header*/
.navbar-brand {
	display: none;
}
/*search box*/
.block-search-form-block {
    margin-left: 6em;

    span .button{
    	background: none;
    	right: 2.4em;
    	border: none;
    	color: #1d1b1c;

    	span.glyphicon{
    		top:3px;
			font-size: larger;
    		opacity: 0.7;
    	}
    }
}


ul.navbar-nav{
	font-size: @font-size-pmenu;

	li.expanded{

		a{
			color: @link-color;
			font-family: @font-open;
			padding-top: 6px;

			&:hover{
				opacity: @opacity-hover; 
				background: none;
			}
			&:focus{
				background: none;
			}
			&::before{
				content: "|";
    			padding-right: 16px;
			}
			span.caret{
				display: none;
			}
			
		}
		&:first-child{
			a{
				&::before{
					content: "";
				}
			}
		}

		ul.dropdown-menu{
			padding: 8px;
   			min-width: 120px;

   			li.dropdown{
   				padding: 8px 0;
   				border-top: 1px solid #afafaf;

	   			&:first-child{
	   				border: none;
	   			}

	   			a{
					white-space: normal;
		    		word-break: break-word;
		    		width: 130px;
		    		text-align: center;
	   			
		   			&:hover{
		   				color: #3780cb;
		   			}
		   			&::before{
						content: "";
		    			padding-right: 0;
					}
				}

		   	}
		}
	}
}










/*End styles for header*/