// out: ../css/style.css
// Bootstrap Framework.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';
/*variables for header*/
@font-size-pmenu: 14px;
@link-color: #1d1b1c;
@opacity-hover: 0.5;
@font-open: "Open Sans";

html,body{
	font-family: @font-open;
}
body{
	margin: 0;
}

/*Start styles for store*/
	/*start styles for header*/
	.region-header{

		.navbar-brand {
			display: none;
		}

		a.logo{
			margin: 0;

			img{
				width: 258px;
	    		padding: 32px 0;
			}
		}
		/*search box*/
		.block-search-form-block {
		    margin-left: 6em;
		    position: relative;
	    	top: 2.5rem;

		    span .button{
		    	background: none;
		    	right: 2.4em;
		    	border: none;
		    	color: #1d1b1c;

		    	span.glyphicon{
		    		top:3px;
					font-size: larger;
		    		opacity: 0.7;
		    	}
		    }
		}


		ul.navbar-nav{
			font-size: @font-size-pmenu;
			position: relative;
	    	top: 2.5rem;

			li.expanded{

				a{
					color: @link-color;
					font-family: @font-open;
					padding-top: 6px;

					&:hover{
						opacity: @opacity-hover; 
						background: none;
					}
					&:focus{
						background: none;
					}
					&::before{
						content: "|";
		    			padding-right: 16px;
					}
					span.caret{
						display: none;
					}
					
				}
				&:first-child{
					a{
						&::before{
							content: "";
						}
					}
				}

				ul.dropdown-menu{
					padding: 8px;
		   			min-width: 120px;

		   			li.dropdown{
		   				padding: 8px 0;
		   				border-top: 1px solid #afafaf;

			   			&:first-child{
			   				border: none;
			   			}

			   			a{
							white-space: normal;
				    		word-break: break-word;
				    		width: 130px;
				    		text-align: center;
			   			
				   			&:hover{
				   				color: #3780cb;
				   			}
				   			&::before{
								content: "";
				    			padding-right: 0;
							}
						}

				   	}
				}
			}
		}

		nav#block-mainmenu{

			ul{
				float: left;
		    	margin-left: 8em;
		    	padding-top: 3em;

		    	li{
		    		display: inline-block;

		    		.open{

		    			a{
		    				background: none;
    						outline: 1px dotted currentColor;
		    			}
		    		}

		    		a{
		    			font-size: 16px;
		    			font-weight: bold;
		    			text-transform: uppercase;
		    		    padding: 0 0 8px 0;
		    			margin: 0 15px;

		    			&:hover{
		    				background: none;
		    				border-bottom: 2px solid #e32726;
		    			}
		    			&:focus{
		    				background: none;
		    				outline: 1px dotted currentColor;
		    			}
		    		}

		    	}
			}
		}
	}

	/*.products-submenu{
		display: none;

		li{
			list-style-type: none;

			a{
				font-size: 16px;
			}

		}

		.parent-nav{

			a{
				font-weight: bold;
			}
		}
	}
*/
/*End styles for header*/


/*footer styles*/
footer{
	width: 100% !important;
	background: #002431;
    
	.region-footer{
		margin: 0px 11%;

		.footer-block{
			color: #ffffff;

			h5{
				font-weight: bold;
    			text-transform: uppercase;
			}

			a{
				color: #ffffff;

				&:hover{
					text-decoration: none;
					opacity: 0.5;
				}
			}

		}
	}




}






