<div class="download-all-files-wrapper">
  <a href="{{ link }}">
    <div class="download-all-files">
      <div>
        <div class="download-label">DOWNLOAD ALL FILE(S)</div>
        {#<div class="title">{{ label }}</div>#}
      </div>
      <div class="download-all-icon"></div>
    </div>
  </a>
</div>
{{ attach_library('cypress/download-selected-file-styling') }}
